<div class="base">
  <h1 class="page-title noselect">About</h1>
  <div>
    <div class="about-holder">
      <div class="about">
        Cette Application est pour but de faciliter la mise en presence des
        etudiants chaque matin dans le centre de Technicité,au lieu de signé un
        document physiquement,la camera detectera le visage de l etudiant et il
        se mettra à jours comme present ce jour-ci a cette date precise.

        <!-- <h2 class="page-subtitle">Table of Contents</h2>
        <ul>
          <li>
            <a href="about#Settings">Changing Settings</a>
          </li>
          <li>
            <a href="about#Pictures">Taking Pictures</a>
          </li>
          <li>
            <a href="about#Shortcuts">Shortcuts</a>
          </li>
          <li>
            <a href="about#Contact">Contact</a>
          </li>
        </ul>
        <h2 class="page-subtitle" id="Settings">Changing Settings</h2>
        <div>
          In order to change the settings go over to the gear icon labeled with
          the word "Settings" in the header of the page and click it.
          <ul>
            <li>
              Camera detail. The image, once taken from the camera, is saved at
              the quality referenced here.
            </li>
            <li>
              Mirror image. When enabled it alters the camera to be mirrored, it
              is on by default.
            </li>
            <li>
              Enable auto download. When enabled whenever a user takes a picture
              it is automatically downloaded to the device.
            </li>
          </ul>
        </div>
        <h2 class="page-subtitle" id="Pictures">Taking Pictures</h2>
        <div>
          To take a picture first ensure that you are on the correct page, that
          being the one labeled with a camera icon and the word "Camera." After
          ensuring that you are on the correct page, click the camera icon
          immediately underneath the live video feed coming from your webcam.
          Additionally, next to the camera are the switch input and fullscreen
          buttons to the left and right respectively.
        </div>
        <h2 class="page-subtitle" id="Shortcuts">Shortcuts</h2>
        <div> -->
        <div>
          ICI sera l explication du Model IA qui permet la detection de visage
          et la reconnaissance faciale.
        </div>
        <br />
        <!-- <table
            style="margin-left: auto; margin-right: auto; text-align: center"
          >
            <tr>
              <th style="width: 4rem">Key</th>
              <th style="width: 4rem">Page</th>
              <th style="width: 14rem">Action</th>
            </tr>
            <tr>
              <td>a</td>
              <td>Camera</td>
              <td>Take picture.</td>
            </tr>
            <tr>
              <td>s</td>
              <td>Camera</td>
              <td>Switch camera input.</td>
            </tr>
            <tr>
              <td>d</td>
              <td>Camera</td>
              <td>Enter/exit fullscreen.</td>
            </tr>
            <tr>
              <td>q</td>
              <td>Any</td>
              <td>Navigate to camera page.</td>
            </tr>
            <tr>
              <td>w</td>
              <td>Any</td>
              <td>Navigate to settings page.</td>
            </tr>
            <tr>
              <td>e</td>
              <td>Any</td>
              <td>Navigate to about page.</td>
            </tr>
          </table> -->
      </div>
      <!-- <h2 class="page-subtitle" id="Contact">Contact</h2>
        <div>
          For more information you can contact me atjjjj or my
          <a href="https://github.com/vmc-7645">Github</a>.
        </div> -->
    </div>
  </div>
  <br />
</div>
<!-- <a>
        {{ windowHeight }}
        {{ windowHeight }}
    </a> -->
