<div class="container mt-4">
    <h2 class="mb-3">Liste des Formations</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Formation</th>
                <th scope="col">Présents (9h-12h)</th>
                <th scope="col">Absents (9h-12h)</th>
                <th scope="col">Présents (13h-17h)</th>
                <th scope="col">Absents (13h-17h)</th>
                <th scope="col">Total Présents</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let formation of formations">
                <td scope="row" (click)="afficherDetails(formation)">{{ formation.nom }}</td>
                <td>{{ formation.presencesMatin }}</td>
                <td>{{ formation.absencesMatin }}</td>
                <td>{{ formation.presencesAprem }}</td>
                <td>{{ formation.absencesAprem }}</td>
                <td>{{ formation.totalPresents }}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="formationSelectionnee">
        <h3 class="mt-4">Détails pour {{ formationSelectionnee.nom }}</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>Élèves Présents</h4>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let eleve of formationSelectionnee.elevesPresents">
                        {{ eleve.nom }}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Élèves Absents</h4>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let eleve of formationSelectionnee.elevesAbsents">
                        {{ eleve.nom }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
