<div class="container mt-4">
  <h2 class="mb-3">Liste des Formations</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Formation</th>
        <th scope="col">Présents (9h-12h)</th>

        <th scope="col">Présents (13h-17h)</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let formation of formations"
        (click)="getEtudiantsByFormation(formation.id_formCal)"
        [class.bg-warning]="formation.id_formCal === selectedFormationId"
      >
        <td>
          {{ formation.nom }}:
          {{ formation.date_debut | date : "dd/MM/yy" }}->{{
            formation.date_fin | date : "dd/MM/yy"
          }}
        </td>
        <td [class.bg-info.text-white.font-weight-bold]>
          {{ formation.nombre_eleves_presents }} / {{ formation.total_inscrit }}
        </td>
        <td>
          {{ formation.nombre_eleves_presents_APM }} /
          {{ formation.total_inscrit }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div *ngIf="formationSelectionnee.length > 0; else noEtudiants"> -->
  <div>
    <div class="float-left col-6">
      <h3>
        Détails Presénce Matinale :
        <span class="badge badge-dark">
          {{ presenceMatin.length }}
        </span>
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Present</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let etudiant of presenceMatin; trackBy: trackByFn"
            [ngClass]="{
              'bg-success.text-white.font-weight-bold': etudiant.presentMatin
                ? 'bg-info'
                : 'bg-warning'
            }"
            [class.bg-info.text-white.font-weight-bold]="
              etudiant.presence_date == null || !etudiant.presentMatin
            "
          >
            <th scope="row">{{ etudiant.id }}</th>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.prenom }}</td>
            <td>
              {{
                etudiant.presentMatin
                  ? (etudiant.presence_date | date : "dd/MM/yy HH:mm" : "GMT")
                  : "absent"
              }}
            </td>
            <td>
              <button
                *ngIf="!etudiant.presentMatin"
                (click)="
                  absentToPresent(etudiant.id, etudiant.id_formation_cal)
                "
                class="btn btn-danger"
                class="btn btn-success"
                class="btn btn-danger"
                class="btn btn-success"
              >
                <i class="fas fa-check"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="float-right col-6" *ngIf="messageAVM; else noEtudiants">
      <h3>
        Détails Presénce Apres-Midi :
        <span class="badge badge-dark">
          {{ formationSelectionnee.length }}
        </span>
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">present</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let etudiant of presenceApresMidi"
            [class.bg-info.text-white.font-weight-bold]="
              etudiant.presence_date == null || !etudiant.presentApresMidi
            "
          >
            <th scope="row">{{ etudiant.id }}</th>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.prenom }}</td>
            <td>
              {{
                etudiant.presentApresMidi
                  ? (etudiant.presence_date | date : "dd/MM/yy HH:mm" : "GMT")
                  : "absent"
              }}
            </td>
            <td>
              <button
                *ngIf="!etudiant.presentApresMidi && isApresMidi()"
                (click)="
                  absentToPresent2(etudiant.id, etudiant.id_formation_cal)
                "
                class="btn btn-danger"
                class="btn btn-success"
                class="btn btn-danger"
                class="btn btn-success"
              >
                <i class="fas fa-check"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noEtudiants>
    <h3 class="mt-4 alert alert-warning text-center col-6 float-right">
      Aucun Etudiants:Attente APM
    </h3>
  </ng-template>

  <ng-template *ngIf="estSelectionne == false">
    <h3 class="mt-4 alert alert-warning text-center col-6 float-left">
      Aucune Formation Selectionnée
    </h3>
  </ng-template>
</div>

<!-- Pour les sessions du matin -->
